<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="statics/css/g-reset.css" />
        <link rel="stylesheet" href="statics/css/g-grid.css" />
        <link rel="stylesheet" href="statics/css/b-layout.css" />
        <link rel="stylesheet" href="statics/css/b-head.css" />
        <link rel="stylesheet" href="statics/css/b-breadcrumbs.css" />
        <link rel="stylesheet" href="statics/css/b-title.css" />
        <link rel="stylesheet" href="statics/css/b-list.css" />
    </head>
    <body>
        <div class="b-layout">
            <div class="g-12">
                <div class="g-row b-head">
                    <div class="g-first g-col-1 g-span-2 b-head__title">
                        <span class="b-head__title_type_logo">LMD&nbsp;Stats</span>
                    </div>
                </div>

                <div class="g-first g-col-1 g-span-12 b-title">Reports</div>

                <div class="g-first g-col-1 g-span-12">
                    <table class="b-list">
                        <thead>
                            <tr class="b-list__head">
                                <th class="b-list__head__item">Report name</th>
                                <th class="b-list__head__item">Date &darr;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="b-list__line">
                                <td>
                                    <a href="#">Chrome-17.0.963.79-Jun_19_2012_19:40:34-0.5991604751907289</a>
                                </td>
                                <td class="b-list__line__date">Tue Jun 19 2012 11:25:51 GMT+0600 (ALMT)</td>
                            </tr>

                            <tr class="b-list__line">
                                <td>
                                    <a href="#">Pewpew.ololo</a>
                                </td>
                                <td class="b-list__line__date">Tue Jun 19 2012 11:25:51 GMT+0600 (ALMT)</td>
                            </tr>

                            <tr class="b-list__line">
                                <td>
                                    <a href="#">Pewpew.ololo</a>
                                </td>
                                <td class="b-list__line__date">Tue Jun 19 2012 11:25:51 GMT+0600 (ALMT)</td>
                            </tr>

                            <tr class="b-list__line">
                                <td>
                                    <a href="#">Pewpew.ololo</a>
                                </td>
                                <td class="b-list__line__date">Tue Jun 19 2012 11:25:51 GMT+0600 (ALMT)</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>