<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="statics/css/g-reset.css" />
        <link rel="stylesheet" href="statics/css/g-grid.css" />
        <link rel="stylesheet" href="statics/css/b-layout.css" />
        <link rel="stylesheet" href="statics/css/b-head.css" />
        <link rel="stylesheet" href="statics/css/b-breadcrumbs.css" />
        <link rel="stylesheet" href="statics/css/b-title.css" />
        <link rel="stylesheet" href="statics/css/b-source.css" />
        <link rel="stylesheet" href="statics/css/b-summary.css" />
        <link rel="stylesheet" href="statics/css/b-notes.css" />
        <link rel="stylesheet" href="statics/css/b-label.css" />
    </head>
    <body>
        <div class="b-layout">
            <div class="g-12">
                <div class="g-row b-head">
                    <div class="g-first g-col-1 g-span-2 b-head__title">
                        <a href="#" class="b-head__title_type_logo">LMD&nbsp;Stats</a>
                    </div>
                    <div class="g-col-3 g-span-10 b-head__title">
                        <a href="#" class="b-head__title_type_report">Chrome-17.0.963.79-Jun_19_2012_19:40:34-0.5991604751907289</a>
                        <span class="b-head__title_type_module">b-module</span>
                    </div>
                </div>

                <div class="g-row b-summary">
                    <div class="g-col-1 g-span-4 b-summary__item">
                        <div class="b-summary__item__title">Statements</div>
                        <div class="b-summary__item__percentage b-summary__item__percentage_coverage_100">100.00%</div>
                    </div>
                    <div class="g-col-5 g-span-4 b-summary__item">
                        <div class="b-summary__item__title">Functions</div>
                        <div class="b-summary__item__percentage b-summary__item__percentage_coverage_lt-100">98.85%</div>
                    </div>
                    <div class="g-col-9 g-span-4 b-summary__item">
                        <div class="b-summary__item__title">Conditions</div>
                        <div class="b-summary__item__percentage b-summary__item__percentage_coverage_lt-50">13.85%</div>
                    </div>
                </div>

                <div class="g-first g-col-1 g-span-12 b-title">Notes</div>

                <div class="g-first g-col-1 g-span-12 b-notes">
                    <div class="b-notes__section">
                        <span class="b-label b-label_size_normal b-label_type_function">Functions</span> <a href="#" class="b-notes__show i-hidden">Show...</a>


                        <span class="js-functions b-notes__tags">
                            <a href="l-10" class="b-notes__tags__item">FunctionName:10</a>,
                            <a href="l-11" class="b-notes__tags__item">(?):10</a>,
                            <a href="l-12" class="b-notes__tags__item">Pewpew:10</a>,
                            <a href="l-10" class="b-notes__tags__item">FunctionName:10</a>,
                                                        <a href="l-11" class="b-notes__tags__item">(?):10</a>,
                                                        <a href="l-12" class="b-notes__tags__item">Pewpew:10</a>,
                            <a href="l-10" class="b-notes__tags__item">FunctionName:10</a>,
                                                        <a href="l-11" class="b-notes__tags__item">(?):10</a>,
                                                        <a href="l-12" class="b-notes__tags__item">Pewpew:10</a>,
                            <a href="l-10" class="b-notes__tags__item">FunctionName:10</a>,
                                                        <a href="l-11" class="b-notes__tags__item">(?):10</a>,
                                                        <a href="l-12" class="b-notes__tags__item">Pewpew:10</a>,
                        </span>
                    </div>

                    <div class="b-notes__section">
                        <span class="b-label b-label_size_normal b-label_type_statement">Statements</span> <a href="#" class="b-notes__show">Show...</a>

                        <div class="js-statement i-hidden">
                            <ol class="b-notes__list">
                                <li class="b-notes__list__item">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                            </ol>
                            <a href="#" class="b-notes__more">More...</a>
                        </div>
                    </div>

                    <div class="b-notes__section">
                        <span class="b-label b-label_size_normal b-label_type_condition">Conditions</span> <a href="#" class="b-notes__show">Show...</a>

                        <div class="js-condition i-hidden">
                            <ol class="b-notes__list">
                                <li class="b-notes__list__item">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                                <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                            </ol>
                            <a href="#" class="b-notes__more">More...</a>
                        </div>
                    </div>
                </div>

                <div class="g-first g-col-1 g-span-12 b-title">Module code</div>

                <div class="g-first g-col-1 g-span-12">
                    <table class="b-source">
                        <colgroup>
                            <col width="5%" />
                            <col width="5%" />
                            <col width="5%" />
                            <col width="85%" />
                        </colgroup>
                        <thead>
                            <tr class="b-source__head">
                                <th class="b-source__head__item">Run</th>
                                <th class="b-source__head__item">Notes</th>
                                <th class="b-source__head__item b-source__head__item_type_line"></th>
                                <th class="b-source__head__item"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="b-source__line  b-source__line_state_warning" id="l-1">
                                <td class="b-source__line__item b-source__line__item_type_call">2</td>
                                <td class="b-source__line__item b-source__line__item_type_notes">
                                    <span class="b-label b-label_type_function">F</span>
                                    <span class="b-label b-label_type_condition">C</span>
                                    <span class="b-label b-label_type_statement">S</span>
                                </td>
                                <td class="b-source__line__item b-source__line__item_type_line">1</td>
                                <td class="b-source__line__item b-source__line__item_type_code" rowspan="14">
<pre>(function () {
2
3
4
5
6
7
8
9
10
11
12
13})</pre>
                                </td>
                            </tr>

                            <tr class="b-source__line b-source__line_state_warning">
                                <td class="b-source__line__item b-source__line__item_type_call">2</td>
                                <td class="b-source__line__item b-source__line__item_type_notes">&mdash;</td>
                                <td class="b-source__line__item b-source__line__item_type_line">1</td>
                            </tr>

                            <tr class="b-source__line">
                                <td class="b-source__line__item b-source__line__item_type_call">2</td>
                                <td class="b-source__line__item b-source__line__item_type_notes">&mdash;</td>
                                <td class="b-source__line__item b-source__line__item_type_line">1</td>
                            </tr>

                            <tr class="b-source__line">
                                <td class="b-source__line__item b-source__line__item_type_call">2</td>
                                <td class="b-source__line__item b-source__line__item_type_notes">&mdash;</td>
                                <td class="b-source__line__item b-source__line__item_type_line">1</td>
                            </tr>

                            <tr class="b-source__line">
                                <td class="b-source__line__item b-source__line__item_type_call">2</td>
                                <td class="b-source__line__item b-source__line__item_type_notes">&mdash;</td>
                                <td class="b-source__line__item b-source__line__item_type_line">1</td>
                            </tr>

                            <tr class="b-source__line">
                                <td class="b-source__line__item b-source__line__item_type_call">2</td>
                                <td class="b-source__line__item b-source__line__item_type_notes">&mdash;</td>
                                <td class="b-source__line__item b-source__line__item_type_line">1</td>
                            </tr>

                            <tr class="b-source__line">
                                <td class="b-source__line__item b-source__line__item_type_call">2</td>
                                <td class="b-source__line__item b-source__line__item_type_notes">&mdash;</td>
                                <td class="b-source__line__item b-source__line__item_type_line">1</td>
                            </tr>

                            <tr class="b-source__line">
                                <td class="b-source__line__item b-source__line__item_type_call">2</td>
                                <td class="b-source__line__item b-source__line__item_type_notes">&mdash;</td>
                                <td class="b-source__line__item b-source__line__item_type_line">1</td>
                            </tr>

                            <tr class="b-source__line">
                                <td class="b-source__line__item b-source__line__item_type_call">2</td>
                                <td class="b-source__line__item b-source__line__item_type_notes">&mdash;</td>
                                <td class="b-source__line__item b-source__line__item_type_line">1</td>
                            </tr>

                            <tr class="b-source__line">
                                <td class="b-source__line__item b-source__line__item_type_call">2</td>
                                <td class="b-source__line__item b-source__line__item_type_notes">&mdash;</td>
                                <td class="b-source__line__item b-source__line__item_type_line">1</td>
                            </tr>

                            <tr class="b-source__line">
                                <td class="b-source__line__item b-source__line__item_type_call">2</td>
                                <td class="b-source__line__item b-source__line__item_type_notes">&mdash;</td>
                                <td class="b-source__line__item b-source__line__item_type_line">1</td>
                            </tr>

                            <tr class="b-source__line">
                                <td class="b-source__line__item b-source__line__item_type_call">2</td>
                                <td class="b-source__line__item b-source__line__item_type_notes">&mdash;</td>
                                <td class="b-source__line__item b-source__line__item_type_line">1</td>
                            </tr>

                            <tr class="b-source__line">
                                <td class="b-source__line__item b-source__line__item_type_call">2</td>
                                <td class="b-source__line__item b-source__line__item_type_notes">&mdash;</td>
                                <td class="b-source__line__item b-source__line__item_type_line">1</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>