<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="statics/css/g-reset.css" />
        <link rel="stylesheet" href="statics/css/g-grid.css" />
        <link rel="stylesheet" href="statics/css/b-layout.css" />
        <link rel="stylesheet" href="statics/css/b-head.css" />
        <link rel="stylesheet" href="statics/css/b-breadcrumbs.css" />
        <link rel="stylesheet" href="statics/css/b-title.css" />
        <link rel="stylesheet" href="statics/css/b-list.css" />
        <link rel="stylesheet" href="statics/css/b-summary.css" />
        <link rel="stylesheet" href="statics/css/b-notes.css" />
    </head>
    <body>
        <div class="b-layout">
            <div class="g-12">
                <div class="g-row b-head">
                    <div class="g-first g-col-1 g-span-2 b-head__title">
                        <a href="#" class="b-head__title_type_logo">LMD&nbsp;Stats</a>
                    </div>
                    <div class="g-col-3 g-span-10 b-head__title">
                        <span class="b-head__title_type_report">Chrome-17.0.963.79-Jun_19_2012_19:40:34-0.5991604751907289</span>
                    </div>
                </div>

                <div class="g-row b-summary">
                    <div class="g-col-1 g-span-4 b-summary__item">
                        <div class="b-summary__item__title">Statements</div>
                        <div class="b-summary__item__percentage b-summary__item__percentage_coverage_100">100.00%</div>
                    </div>
                    <div class="g-col-5 g-span-4 b-summary__item">
                        <div class="b-summary__item__title">Functions</div>
                        <div class="b-summary__item__percentage b-summary__item__percentage_coverage_lt-100">98.85%</div>
                    </div>
                    <div class="g-col-9 g-span-4 b-summary__item">
                        <div class="b-summary__item__title">Conditions</div>
                        <div class="b-summary__item__percentage b-summary__item__percentage_coverage_lt-50">13.85%</div>
                    </div>
                </div>

                <div class="g-first g-col-1 g-span-12 b-title">Notes</div>

                <div class="g-first g-col-1 g-span-12 b-notes">
                    <ol class="b-notes__list">
                        <li class="b-notes__list__item">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                        <li class="b-notes__list__item">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                        <li class="b-notes__list__item">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                        <li class="b-notes__list__item">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                        <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                        <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                        <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                        <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                        <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                        <li class="b-notes__list__item i-hidden">You can move in-package module <a href="#module-b-module" class="b-notes__list__item__module-link">b-module</a> out off package (First require 2000ms)</li>
                    </ol>
                    <a href="#" class="b-notes__more">More...</a>
                </div>

                <div class="g-first g-col-1 g-span-12 b-title">Modules</div>

                <div class="g-first g-col-1 g-span-12">
                    <table class="b-list">
                        <thead>
                            <tr class="b-list__head">
                                <th class="b-list__head__item">Module&nbsp;name &darr;</th>
                                <th class="b-list__head__item">Statements</th>
                                <th class="b-list__head__item">Functions</th>
                                <th class="b-list__head__item">Conditions</th>
                                <th class="b-list__head__item">Init&nbsp;time</th>
                                <th class="b-list__head__item">#&nbsp;Required</th>
                                <th class="b-list__head__item">First&nbsp;require</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="b-list__line" id="module-b-module">
                                <td class="b-list__line__item">
                                    <a href="#">b-module</a>
                                </td>
                                <td class="b-list__line__item b-list__line__item_coverage_100">100%</td>
                                <td class="b-list__line__item b-list__line__item_coverage_lt-50">30%</td>
                                <td class="b-list__line__item b-list__line__item_coverage_lt-75">74%</td>
                                <td class="b-list__line__item">10ms</td>
                                <td class="b-list__line__item">20</td>
                                <td class="b-list__line__item">+0ms</td>
                            </tr>

                            <tr class="b-list__line" id="module-b-shortcut">
                                <td class="b-list__line__item">
                                    <a href="#">b-shortcut</a>
                                    &rarr;
                                    <a href="#">./path/to/module.js</a>
                                </td>
                                <td class="b-list__line__item">&mdash;</td>
                                <td class="b-list__line__item">&mdash;</td>
                                <td class="b-list__line__item">&mdash;</td>
                                <td class="b-list__line__item">200ms</td>
                                <td class="b-list__line__item">1</td>
                                <td class="b-list__line__item">+2500ms</td>
                            </tr>

                            <tr class="b-list__line" id="module-./path/to/module.js">
                                <td class="b-list__line__item">
                                    <a href="#">./path/to/module.js</a>
                                </td>
                                <td class="b-list__line__item b-list__line__item_coverage_100">100.00%</td>
                                <td class="b-list__line__item b-list__line__item_coverage_lt-50">30.00%</td>
                                <td class="b-list__line__item b-list__line__item_coverage_lt-100">98.55%</td>
                                <td class="b-list__line__item">200ms</td>
                                <td class="b-list__line__item">1</td>
                                <td class="b-list__line__item">+2500ms</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>