.b-dialog {
    width: 600px;

    position: fixed;
    left: 50%;
    top: 50%;

    background: #eee;

    margin-left: -306px;
    margin-top: -206px;

    box-shadow: 0px 0px 10px #777;

    padding: 6px;
}

.b-dialog__header {
    height: 30px;
    margin-bottom: 10px;
}

.b-dialog__header__photo {
    float: left;
    width: 30px;
    height: 30px;

    background: #66ccff;

    border-radius: 5px;
}

.b-dialog__header__name {
    float: left;
    margin-left: 10px;
}

.b-dialog__header__buttons {
    float: right;

    cursor: pointer;
}

.b-dialog__talk {
    height: 300px;
    background: #fff;

    box-shadow: 0px 0px 4px #777 inset;

    overflow-y: auto;

    padding:  10px 5px;
}

.b-dialog__message-area {
    margin-top: 10px;
}

.b-dialog__message-area__textarea {
    width: 100%;
    height: 70px;
    border: 0;

    box-shadow: 0px 0px 4px #777 inset;
}

.b-dialog__icon-panel {
    margin-top: 5px;
}

.b-dialog__icon-panel__icon {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    display: inline-block;
    background-color: #999900;

    cursor: pointer;

    border-radius: 8px;
}